
table .column-index{
    color: rgb(128, 128, 128);
}
.intro-bg{
    position: relative;
    height: 300px;
    width: 100%;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.intro-bg::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: url('../static/images/products-bg.jpg');
    background-size: 120% 120%;
    opacity: 1;
    z-index: -1;
}
.intro-bg::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0);
    z-index: -1;
    opacity: 0.5;
}

.product-item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: fit-content;
    margin: auto;
    gap: 20px 20px;
}
.product-item .card{
    width: 17rem;
    margin: auto;
}
.product-item .card-img-top{
    height: 210px;
}
.product-item .card-body{
    background: rgb(246, 246, 246);
    cursor: default;
}
.product-item .card:hover .card-body{
    background: rgb(31, 31, 31);
    color: white;
}
.productdetail{
    display: none;
}
.sleekline{
    height: 2px;
    width: 70%;
    background: rgb(77, 77, 77);
    margin: 2rem auto;
}
.nav-sleekline{
    height: 2px;
    width: 70%;
    background: rgb(77, 77, 77);
    margin: 2rem auto;
    transform: translateY(-7vh);
    visibility: hidden;
}

.modal-body{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;   
}
.modal-body-product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: rgb(240, 240, 240);
}
.modal-body-product-des{
    padding-left: 5px;
    overflow-y: auto;
    height:55vh ;
}
.modal-footer{
    background-color: rgb(32, 32, 32);
}
.modal-footer form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.modal-footer form .row{
width: 100%;
}

.modal-footer form button{
    width: 50%;
    margin: 10px auto 0px auto;
    background-color: red;
    border-color: red;
    color: #fff;
}
.modal-footer button:hover{
    background-color: rgb(226, 0, 0);
    border-color: rgb(226, 0, 0);
    color: #fff;
}
@media screen and (max-width:480px) {
    .modal-body{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;   
    }
    .product-item{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: fit-content;
        margin: auto;
        gap: 20px 20px;
    }
    .product-item .card{
        width: 10rem;
        margin: auto;
    }
    .product-item .card-img-top{
        height: 150px;
    }
}